<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>

  <div class="section-header">
    <%=tra("Dashboard") %>
  </div>

  <%= render :partial => "tabs" %>

  <div class="tr8n tr8n_container">

    <%= form_tag({}, {:method => :get, :style=>"margin-bottom:0px;", :id => :charts_form}) do %>
      <div class="section blue">
        <div class="tr8n_float_right">
          <button type="submit" class="btn btn-primary">
            <%=tra("Search")%>
          </button>
        </div>

        <div class="tr8n_text_align_left">
          <%=text_field_tag(:search, params[:search], {:style => "width:85%;font-size:12px;height:20px;background: white url(/assets/tr8n/icn_search.png) right no-repeat; ", :placeholder => trla("Search source metrics")})%>
        </div>

        <%=select_tag(:language_id, options_for_select(language_options, @language_id), :onChange => "Tr8n.Utils.Effects.submit('charts_form')")%>
      </div>
    <% end %>

    <div class="section">
      <%= tr8n_paginator_tag(@sources, :subject => 'source') if @sources.any? %>

      <table class="table table-hover">
        <thead>
        <tr>
          <th style="width:20%"><%=tra("Keyword/Name") %></th>
          <th style="width:250px"><%=tra("Translation Progress") %></th>
          <th style="text-align:right;"><%=tra("Phrases") %></th>
          <th style="text-align:right;"><%=tra("Translated") %></th>
          <th style="text-align:right;"><%=tra("Approved") %></th>
          <th style="text-align:right;"><%=tra("Pending") %></th>
          <th style="text-align:right;"><%=tra("Not Translated") %></th>
          <td style="text-align:right;width:20px"></td>
        </tr>
        </thead>
        <tbody>
        <% @sources.each_with_index do |source, index| %>
          <% metric =  source.total_metric(@language) %>
          <tr>
            <td>
              <%=source.name || source.source %>
            </td>
            <td>
              <%
                if metric.key_count == 0
                  progress = 0
                else
                  progress = (metric.translated_key_count.to_f/metric.key_count.to_f) * 100.0;
                end

               if progress == 0
                 color = 'black'
                 state = 'danger'
               elsif progress < 30
                 color = 'white'
                 state = 'danger'
               elsif progress < 80
                 color = 'white'
                 state = 'warning'
               else
                 color = 'white'
                 state = 'success'
               end
             %>

              <div class="progress progress-<%=state%>">
                <div class="bar" style="width: <%=progress%>%; color:<%=color%>"><%=progress.to_i%>%</div>
              </div>
            </td>
            <td style="text-align:right; padding-right:5px;">
              <%=link_to(metric.key_count, {:controller => "/tr8n/app/phrases", :action => :index, :locale => @language.locale, :source_id => source.id}, {:target => "_top"})%>
            </td>
            <td style="text-align:right; padding-right:5px;">
              <%=link_to(metric.translated_key_count, {:controller => "/tr8n/app/phrases", :action => :index, :locale => @language.locale, :source_id => source.id, :phrase_type => :with}, {:target => "_top"})%>
            </td>
            <td style="text-align:right; padding-right:5px;">
              <%=link_to(metric.locked_key_count, {:controller => "/tr8n/app/phrases", :action => :index, :locale => @language.locale, :source_id => source.id, :phrase_type => :with, :phrase_status => :approved}, {:target => "_top"})%>
            </td>
            <td style="text-align:right; padding-right:5px;">
              <%=link_to(metric.pending_approval_count, {:controller => "/tr8n/app/phrases", :action => :index, :locale => @language.locale, :source_id => source.id, :phrase_type => :with, :phrase_status => :pending}, {:target => "_top"})%>
            </td>
            <td style="text-align:right; padding-right:5px;">
              <%=link_to(metric.not_translated_count, {:controller => "/tr8n/app/phrases", :action => :index, :locale => @language.locale, :source_id => source.id, :phrase_type => :without}, {:target => "_top"})%>
            </td>
            <td style="text-align:right;">
              <%=link_to("<i class='icon-refresh'></i>".html_safe, {:action => :recalculate_metric, :id => metric.id})%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= render :partial => "/tr8n/app/common/footer" %>

    <%=javascript_include_tag("tr8n/vendor/jquery/highcharts.js") %>
    <%=javascript_include_tag("tr8n/vendor/jquery/exporting.js") %>

    <script>
    </script>

<% end %>