<div class="section-header">
  <%=tra("Translators") %>
</div>

<%= render :partial=>"breadcrumb" %>

<div class="section blue">
  <div style="float:right; text-align:center">
    <%=tr8n_user_mugshot_tag(@translator, :linked => false)%><br>
    <%=tr8n_translator_rank_tag(@translator)%>
  </div>
  <table>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Username:")%></th>
      <td style="padding:3px;">
        <%=@translator.name%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("First Name:")%></th>
      <td style="padding:3px;">
        <%=@translator.first_name%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Last Name:")%></th>
      <td style="padding:3px;">
        <%=@translator.last_name%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Email:")%></th>
      <td style="padding:3px;">
        <%=@translator.email%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Joined On:")%></th>
      <td style="padding:3px;">
        <%==@translator.created_at%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Rank:")%></th>
      <td style="padding:3px;">
        <%==@translator.rank%>
      </td>
    </tr>
    <tr>
      <th style="width:120px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Level:")%></th>
      <td style="padding:3px;">
        <%==@translator.level%>
      </td>
    </tr>
  </table>

  <div style="text-align:right">
    <% if application_manager?(@translator) %>
      <% unless @translator.admin? %>
        <%=link_to(tra("Demote"), {:action => :demote, :id => @translator.id}, {:class => "btn btn-warning", :confirm => trla("Are you sure you want to promote this translator to be a manager of the application?")})%>
      <% end %>
    <% else %>
      <%=link_to(tra("Promote To Manager"), {:action => :promote, :id => @translator.id}, {:class => "btn btn-success", :confirm => trla("Are you sure you want to promote this translator to be a manager of the application?")})%>
    <% end %>
  </div>

</div>


<ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
  <% [
         [nil, "Languages", "view"],
         [nil, "Assignments", "assignments"],
         [nil, "Activity", "activity"],
         [nil, "Translations", "translations"],
         [nil, "Votes", "votes"],
         [nil, "Locks", "locks"],
         [nil, "Comments", "comments"],
         [nil, "Forum Messages", "messages"],
     ].each do |tab| %>

    <li class="<%='active' if tab[2] == controller.action_name  %>">
      <%=link_to("/tr8n/app/translators/#{tab[2]}?id=#{@translator.id}") do %>
        <% if tab[0] %>
          <i class='<%=tab[0]%>'></i>
        <% end %>
        <%= tra(tab[1]) %>
      <% end %>
    </li>
  <% end %>
</ul>
